<div class="back-button">
  <button mat-mini-fab color="primary" matTooltip="Go Back to Blog List" routerLink="..">
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>

<ng-container class="detail-container" *ngIf="blogDetail$ | async as blog">
  <div [ngSwitch]="blog.status" class="detail-container">
    <ng-container *ngSwitchCase="'loading'">
      <mat-spinner></mat-spinner>
    </ng-container>

    <div *ngSwitchCase="'error'">
      <h4>There was an error while trying to load the blog entries:</h4>
      <br />
      {{ blog.error }}
    </div>

    <ng-container *ngSwitchCase="'success'">
      <h1>{{ blog.data?.title }}</h1>
      <p>{{ blog.data?.content }}</p>
    </ng-container>
  </div>
</ng-container>
