<mat-toolbar color="primary">
  <span>My Blog App</span>
  <a routerLink="blogs" routerLinkActive="activeLink" [routerLinkActiveOptions]="{ exact: true }">
    <button mat-flat-button color="primary" routerLinkActive="activeLink">
      <mat-icon>home</mat-icon>
      Home
    </button>
  </a>
  <a routerLink="admin" routerLinkActive="activeLink">
    <button mat-flat-button color="primary">
      <mat-icon>admin_panel_settings</mat-icon>
      Admin
    </button>
  </a>

  <button mat-flat-button color="primary" (click)="this.throwError()">
    <mat-icon>error</mat-icon>
    Error
  </button>

  <ng-container *ngIf="userData$ | async as userData">
    <span *ngIf="userData.isAuthenticated; else null">
      <a
        routerLink="blogs/add"
        routerLinkActive="activeLink"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <button mat-flat-button color="primary" routerLinkActive="activeLink">
          <mat-icon>add-circle</mat-icon>
          Create Blog
        </button>
      </a>
    </span>
  </ng-container>

  <span class="spacer"></span>

  <ng-container *ngIf="userData$ | async as userData">
    <span *ngIf="hasUserRole; else loggedOut">
      {{ userData.user.preferred_username }}
      <button mat-flat-button color="primary" (click)="this.authService.logout()">
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </span>
  </ng-container>

  <ng-template #loggedOut>
    <button mat-flat-button color="primary" (click)="this.authService.login()">
      <mat-icon>login</mat-icon>
      Login
    </button>
  </ng-template>
</mat-toolbar>

<main>
  <div class="alert-container">
    <div class="alert alert-success" *ngIf="successMessage$ | async as successMessage">
      {{ successMessage }}
    </div>
    <div class="alert alert-error" *ngIf="errorMessage$ | async as errorMessage">
      {{ errorMessage }}
    </div>
  </div>
  <router-outlet></router-outlet>
</main>
